*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
#external-css{
    color: darkgreen;
}
h1{
    font-size: 25px;
}
#learning-in-bootcamp{
    text-transform: uppercase;
}
.pl{
    background-color: darkgreen;
}
.tools{
    border: 2px black solid;
}

ul li{
    list-style-type:none;
}
section > img{
    border-radius: 50%;
    width: 200px;

    
}
section > p{
    text-align: center;

}

ul li{
    letter-spacing: 15px;
}